// Global vars

$global-color-background: #2D2E32;
$global-color-primary: #009946;
$global-color-light: #595a5e;
$global-font: -apple-system, BlinkMacSystemFont, Roboto, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
$global-width: 1000px;
