// Fonts
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/pacifico.ttf');
}

// Global vars

$global-color-background: #333439;
$global-color-primary: #009946;
$global-color-danger: #de3e38;
$global-color-darker: #2D2E32;
$global-font: -apple-system, BlinkMacSystemFont, Roboto, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
$global-width: 1000px;
