.c3 {
  .c3-axis, .c3-legend-item, .c3-axis-x {
    fill: white;
  }

  .c3-chart-line path {
    stroke-width: 2px;
  }

  path, line {
    stroke: white;
  }

  .c3-tooltip {
    color: $global-color-background;

    th {
      background: $global-color-primary;
    }
  }
}
