@import 'vars';

form {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  height: 20px;
  cursor: pointer;
}

input {
  &[type=checkbox] {
    margin: 0 0 0 10px;
  }
}

.slider {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  vertical-align: middle;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $global-color-primary;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $global-color-primary;
  cursor: pointer;
}
