@import '~bootstrap-reboot/bootstrap-reboot.scss';
@import '~bootstrap-4-grid/scss/grid.scss';

@import 'vars';
@import 'boilerplate';

body {
  background: $global-color-background;
  color: white;
  font-family: $global-font;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: #{3 - ($i - 1)*0.7}em;
  }
}

p {
  margin-bottom: 5px;
}

section {
  margin-bottom: 20px;
  padding: 20px 0;

  &.highlight {
    background: $global-color-primary;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.20);
  }

  &.filters {
    min-height: 350px;
  }
}

@import 'forms';
@import 'chart';
@import 'animations';
