@import 'vars';
@import 'boilerplate';

body {
  background: $global-color-background;
  color: white;
  font-family: $global-font;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: #{3 - ($i - 1)*0.7}em;
  }
}

header h1 {
  padding: 20px 0;
  text-align: center;
  margin: 0;
  font-family: Pacifico, sans-serif;

  .name {
    animation: 2s fade-in;
    color: $global-color-primary;
    font-weight: normal;
  }
}

section {
  margin-bottom: 40px;
  padding: 20px 0;

  &.highlight {
    background: $global-color-primary;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.20);
  }
}

@import 'forms';
@import 'chart';
@import 'animations';
